body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.search-and-sort {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
  text-align: center;
}

#searchInput {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #007bff;
  outline: none;
  margin-right: 10px;
}

#sortSelect {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
}

.product-card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  width: calc(33.33% - 20px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  box-sizing: border-box;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-image {
  width: 100%;
  border-radius: 8px;
}

.product-name {
  font-size: 1.2em;
  margin: 10px 0;
  color: #333;
}

.product-description {
  margin: 5px 0;
  color: #777;
}

.product-price {
  font-weight: bold;
  color: #007bff;
}
